{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
        <title>Project Shenandoah</title>
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'img/logo.jpg' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}"/>

        <style>
          body{
            background-color: #E5CCFF;
          }
          .signature
          {
             font-size: 10px;
             line-height: 13px;
             color: rgb(100,100,100);
             text-align: right;
             float: right;
          }
          .footer
          {
             padding-right: 20px;
          }
       </style>
       {% block css %}
       {% endblock css %}
  </head>
  <body>
     {% block content %}{% endblock %}
     <hr class="footer-bar">
     <div class="footer col-md-offset-5">
         <p class="signature">Project Shenandoah&copy<br/>NCHS &bull; PayPal<br/>www.projectplase.org/</p>
     </div>

      <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      {% block js %}{% endblock %}
</body>
</html>
