{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
  fasdfsd
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#multiselect').multiselect();
      document.getElementById("apt").style.display = "";
      document.getElementById("ll").style.display = "none";
      $(".num-input").keydown(function(e) {
          if($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode >= 35 && e.keyCode <= 39)){
              return;
          }
          if((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)){
              e.preventDefault();
          }
      });
  });
</script>
{% endblock %}
