{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  .details{
    border-radius: 5px;
  }
  .h-space{
    margin-left: 5px;
  }
</style>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <div class="row">
    <div class="col-md-6 jumbotron details">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-2">
          {% if obj_type %}
            <button type="button" onclick="location.href='{% url 'home:apt_delete' obj.id %}';" class="btn btn-danger btn-lg">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
            </button>
          {% else %}
            <button type="button" onclick="location.href='{% url 'home:ll_delete' obj.id %}';" class="btn btn-danger btn-lg">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
            </button>
          {% endif %}
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
          </button>
        </div>
        <div class="col-md-1">
        </div>
      </div>

      <h1>{{ obj.entity }}</h1>
      <hr/>
      <p>Contact Information: {{ obj.number }}</p>
      <p>Address: {{ obj.st_one }}</p>
      <p>{{ obj.st_two }}</p>
      <p>Area: {{ obj.city }} {{ obj.area }}</p>
      <p>Zipcode: {{ obj.zipcode }}</p>
      <p>Price:
        {% if obj.low == 0 and obj.high == 0 %}
          {{ obj.cost_notes }}
        {% else %}
          ${{ obj.low }} - ${{ obj.high }}
        {% endif %}
      </p>
      <p>Residency: {% if obj.rooms %}Rooms {% endif %}
                    {% if obj.one_br %}1BR{% endif %}
                    {% if obj.two_br %}2BR{% endif %}
                    {% if obj.three_br %}3BR{% endif %}
                    {% if obj.studio %}Studio{% endif %}
      </p>
    </div>

    <div class="col-md-6">
      <iframe class="maps hidden-xs hidden-sm"
        width="100%"
        frameborder="1" style="border:1"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBBGMWyQJaeXAyGJAOch_SCutThTW3dtnc
          &q={{ obj.st_one }}" allowfullscreen>
      </iframe>
      <a class="btn btn-success btn-lg visible-sm-block visible-xs-block" href="http://maps.google.com/?q={{ obj.st_one }}" role="button">Take me to Google Maps</a>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#multiselect').multiselect();
      $('.maps').css('height', $(window).height()+'px');
      $(".num-input").keydown(function(e) {
          if($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode >= 35 && e.keyCode <= 39)){
              return;
          }
          if((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)){
              e.preventDefault();
          }
      });
  });


</script>
{% endblock %}
