{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  .required{
    color: red;
  }
</style>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
  {% if not nav %}
    <ul class="nav nav-tabs nav-justified tabs">
      <li role="presentation" class="active" id="apt-tab"><a onclick="display('apt','ll')">Apartments</a></li>
      <li role="presentation" id="ll-tab"><a onclick="display('ll','apt')">Landlords</a></li>
    </ul>
  {% endif %}
  <div class="jumbotron">
    {% if nav == 'apt' %}
      <div id="apt">
        <h2>Edit Apartment: {{ obj.entity }}</h2>
        {% include 'form/apt.html' %}
      </div>
    {% elif nav == 'll' %}
      <div id="ll">
        <h2>Edit Landlord: {{ obj.entity }}</h2>
        {% include 'form/ll.html' %}
      </div>
    {% else %}
      <div id="apt">
        <h2>Create an Apartment Entry</h2>
        {% include 'form/apt.html' %}
      </div>
      <div id="ll">
        <h2>Create a Landlord Entry</h2>
        {% include 'form/ll.html' %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="{% static 'js/util.js' %}"></script>
  <script>
    $(document).ready(function() {
        $('#apt-res').multiselect();
        $('#ll-res').multiselect();
        $(".phone-number").keydown(function(e) {
            if($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
              (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
              (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
              (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
              (e.keyCode >= 35 && e.keyCode <= 39)){
                return;
            }
            if((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)){
                e.preventDefault();
            }
        });
    });
    document.getElementById("apt").style.display = "";
    document.getElementById("ll").style.display = "none";

    function costValidation(lowLabel, highLabel){
        var low = document.getElementById(lowLabel).value;
        var high = document.getElementById(highLabel).value;
        if (low && high && (parseInt(low) > parseInt(high))){
            alert('The cost low bound must be lower than the cost high bound');
            document.getElementById(lowLabel).value = '';
            document.getElementById(highLabel).value = '';
        }
    }
  </script>
{% endblock %}
