{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  .glyphs{
    color: red;
    font-weight: bold;
  }
  .spaced{
    margin-top:20px;
  }
  .scroll{
    background-color: #E5AACC;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 450px;
  }
  .thumbnail {
    border: 0 none;
    box-shadow: none;
  }
  .noresults-message{
    margin: 17px 0;
  }
  .result{
    width: 95%;
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <div class="alert alert-info">
    <strong>Database:</strong> {{ message }}
  </div>
  <div class="row spaced">
    <div class="col-md-6">
      <a class="thumbnail">
        <img src="{% static 'img/googlemaps.png' %}" alt="img-responsive">
      </a>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-tabs nav-justified tabs">
        <li role="presentation" class="active" id="apt-tab"><a onclick="display('apt','ll')">Apartments</a></li>
        <li role="presentation" id="ll-tab"><a onclick="display('ll','apt')">Landlords</a></li>
      </ul>
      <div class="scroll">
        <ul class="list-group" id="apt">
          {% if not apt|length %}
            <div class="row result">
              <div class="list-group-item spaced">
                <h4 class="list-group-item-heading">Search Results:</h4>
                <div class="row">
                  <div class="col-md-2">
                    <div class="thumbnail">
                      <img src="{% static 'img/noresults.png' %}" alt="img-responsive">
                    </div>
                  </div>
                  <div class="col-md-10 noresults-message">
                    <p class="list-group-item-text">Sorry. No results were found. Please try a different search.</p>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            {% for element in apt %}
              <div class="row result">
                <a href="{% url 'home:details' element.id %}" class="list-group-item spaced">
                  <h4 class="list-group-item-heading">{{ element.entity }}</h4>
                  <p class="list-group-item-text">{{ element.st_one }}</p>
                  <p class="list-group-item-text">{{ element.st_two }}</p>
                  <p class="list-group-item-text">{{ element.number }}</p>
                  <p class="list-group-item-text">Price:
                    {% if element.low == 0 and element.high == 0 %}
                      {{ element.cost_notes }}
                    {% else %}
                      ${{ element.low }} - ${{ element.high }}
                    {% endif %}
                  </p>
                  <div class="row container glyphs">
                    {% if element.rooms %}&alpha;{% endif %}
                    {% if element.one_br %}&beta;{% endif %}
                    {% if element.two_br %}&gamma;{% endif %}
                    {% if element.three_br %}&delta;{% endif %}
                    {% if element.studio %}&epsilon;{% endif %}
                  </div>
                </a>
              </div>
            {% endfor %}
          {% endif %}
        </ul>
        <ul class="list-group" id="ll">
          <ul class="list-group" id="apt">
            {% if not ll|length %}
              <div class="row result">
                <div class="list-group-item spaced">
                  <h4 class="list-group-item-heading">Search Results:</h4>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="thumbnail">
                        <img src="{% static 'img/noresults.png' %}" alt="img-responsive">
                      </div>
                    </div>
                    <div class="col-md-10 noresults-message">
                      <p class="list-group-item-text">Sorry. No results were found. Please try a different search.</p>
                    </div>
                  </div>
                </div>
            </div>
            {% else %}
              {% for element in ll %}
                <div class="row result">
                  <a href="{% url 'home:details' element.id %}" class="list-group-item spaced">
                    <h4 class="list-group-item-heading">{{ element.entity }}</h4>
                    <p class="list-group-item-text">{{ element.st_one }}</p>
                    <p class="list-group-item-text">{{ element.st_two }}</p>
                    <p class="list-group-item-text">{{ element.number }}</p>
                    <p class="list-group-item-text">Price:
                      {% if element.low == 0 and element.high == 0 %}
                        {{ element.cost_notes }}
                      {% else %}
                        ${{ element.low }} - ${{ element.high }}
                      {% endif %}
                    </p>
                    <div class="row container glyphs">
                      {% if element.rooms %}&alpha;{% endif %}
                      {% if element.one_br %}&beta;{% endif %}
                      {% if element.two_br %}&gamma;{% endif %}
                      {% if element.three_br %}&delta;{% endif %}
                      {% if element.studio %}&epsilon;{% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#multiselect').multiselect();
      document.getElementById("apt").style.display = "";
      document.getElementById("ll").style.display = "none";
      $(".num-input").keydown(function(e) {
          if($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode >= 35 && e.keyCode <= 39)){
              return;
          }
          if((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)){
              e.preventDefault();
          }
      });
  });

  $(document).ready(function() {
      document.getElementById("apt").style.display = "";
      document.getElementById("ll").style.display = "none";
  });

  function display(show, hide) {
    document.getElementById(show).style.display = "";
    document.getElementById(hide).style.display = "none";
    document.getElementById(show + "-tab").className = "active";
    document.getElementById(hide + "-tab").className = "";
  }

</script>
{% endblock %}
