{% load static %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:index'%}">Project PLASE</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" action="{% url 'home:index' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <select class="form-control" name="area">
            <option value="none">Area</option>
            <option value="Baltimore City">Baltimore City</option>
            <option value="Baltimore County">Baltimore County</option>
          </select>
          <select id="multiselect" multiple="multiple" name="res">
            <option value="rooms">Room:R</option>
            <option value="one_br">1BR:1</option>
            <option value="two_br">2BR:2</option>
            <option value="three_br">3BR:3</option>
            <option value="studio">Studio:S</option>
          </select>
          <input type="checkbox" class="form-control" name="strict" value="strict">
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" id="low" class="form-control num-input" size="7" maxlength="5" placeholder="Low" name="low">
            <div class="input-group-addon">-</div>
            <input type="text" id="high" class="form-control num-input" size="7" maxlength="5" placeholder="High" name="high">
          </div>
          <input type="checkbox" id="exception" class="form-control" name="exception" value="exception">
          <input type="text" class="form-control" size="15" placeholder="Name" name="name">
          <input type="text" class="form-control num-input" size="7"  maxlength="5" placeholder="Zip code" name="zip">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home:create'%}">Create</a></li>
        <li><a href="{% url 'home:logs'%}">Logs</a></li>
        <li><a href="{% url 'home:sign_out'%}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block js %}
  <script>
    window.jQuery || document.write('<script src="https://getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')
  </script>
{% endblock %}
